/**
 *  Aside
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @subpackage Aside
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";
@import "../shared/mixins";

$mv-aside--width: 20%;

/**
 * @section Mixin
 */

@mixin fixed(){
  width: 100%;
  position: fixed;
  top:0;
  bottom:0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

@mixin left(){
  left:0;
  right: auto;
  transform: translate3d(-100%,0,0);
}

@mixin right(){
  left:auto;
  right:0;
  transform: translate3d(100%,0,0);
}

@mixin open(){
  transform: translate3d(0,0,0) !important;
}


/**
 * @section Style
 */
:host {
  display: flex;
  flex-direction: column;
  overflow-x: none;
  overflow-y: auto;
  width: $mv-aside--width;
  background-color: $mv-color__light;

  @include desktop(){
    max-width: $mv-aside--width;
  }
}

.mv-aside__content{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mv-aside__toolbar {
  max-height: $mv-size__height;
}

.mv-aside__button-close {
  visibility: hidden;
}

:host(.is-fixed) {
  @include fixed();

  .mv-aside__button-close {
    visibility: visible;
  }

  &.is-left {
    @include left();
  }

  &.is-right {
    @include right();
  }
}

:host(.is-opened) {
  @include open();

  .mv-aside__button-close {
    visibility: visible;
  }
}

@include tablet {
  :host(.is-opened-on-tablet) {
    @include open();
  }
}

@include desktop {
  :host(.is-opened-on-desktop) {
    @include open();
  }
}

@include widescreen {
  :host(.is-opened-on-widescreen) {
    @include open();
  }
}

/**
 * @section Modifiers
 */
:host(.has-gap) {
  .mv-aside__content {
    padding: 0 ($mv-layout__gutter/2);
  }
}
