<mv-toolbar class="mv-aside__toolbar">
  <mv-row>
    <mv-col>
      <h1>{{title}}</h1>
    </mv-col>
    <mv-col class="is-shrink">
      <button class="mv-btn mv-aside__button-close is-icon is-squared" title="Fechar" aria-label="Fechar" (click)="close()">
        <mv-icon name="close"></mv-icon>
      </button>
    </mv-col>
  </mv-row>
</mv-toolbar>
<div class="mv-aside__content">
  <ng-content></ng-content>
</div>
