/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../../variables";
@import "../../../../shared/mixins";

/**
 * @section Configuration
 */


/**
 * @section Style
 */

:host {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: $mv-layout__column-gutter;
}

.is-thumbnail {
  max-height: 300px;
}
