<?php
$this->headLink()
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

$this->inlineScript()
    ->prependFile('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    ->prependFile('https://code.jquery.com/jquery-2.1.4.min.js');
?><!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Métodos Fronteiriços</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="II Congresso Métodos Fronteiriços: Imaginário, natureza e memória">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Marcus Vinicius da Rocha Gouveia Cardoso">
  <meta name="keywords" content="">

  <base href="/">
  <!--<base href="https://metodosfronteiricos.com.br/">-->
  <?php echo $this->headMeta(); ?>
    <?php echo $this->headLink(); ?>

  <!-- <meta property="og:title" content="Métodos Fronteiriços">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://metodosfronteiricos.com.br/assets/img/ogimage_v1.png">
  <meta property="og:url" content="https://metodosfronteiricos.com.br">
  <meta property="og:site_name" content="ADUNIR">
  <meta property="og:description" content="II Congresso Métodos Fronteiriços: Imaginário, natureza e memória"> -->

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <?php echo $this->menu; ?>
  
  <?php echo $this->content; ?>
  
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <?php echo $this->inlineScript(); ?>
</body>
</html>
