/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../variables";
@import "../../../shared/mixins";

/**
 * @section Configuration
 */

$control-container--border-radius: 0;
$control-container--background-color: transparent;
$control-container--border-color: $mv-color__gray--100;
$control-container_focus--border-color: $mv-color__primary--A100;

/**
 * @section Style
 */
:host {
    display: block;
    position: relative;

    select {
        display: block;
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        border-radius: $control-container--border-radius;
        background-color: $control-container--background-color;
        border: none;
        border-bottom: 2px solid $control-container--border-color;
    }

    select:focus {
        border-bottom-color: $control-container_focus--border-color;
    }
}
