/**
 * List
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage List
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../variables";

/**
 * @section Style
 */

:host {
  position: relative;
  margin: 0;
  padding: $mv-layout__gutter/2 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

:host(.is-bordered) /deep/ {
  mv-list-item {
    border-bottom: 2px solid $mv-color__gray--50;
  }
  mv-list-item:last-child {
      border-bottom: 2px solid transparent;
  }
} 



:host /deep/ mv-list-divisor {
  padding: .25rem 0;
  height: 2px;
  width: 100%;
  border-bottom: 1px solid $mv-color__gray--50;
}
