<mv-modal #modal [title]="title" [disableBackdrop]="true">
  <mv-modal-body>
    <ng-content></ng-content>
  </mv-modal-body>
  <mv-modal-footer class="align-end">
    <button mv-button (click)="close()">Voltar</button>
    <button mv-button (click)="onSave()">Salvar</button>
  </mv-modal-footer>
</mv-modal>
