/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../../variables";
@import "../../../../shared/mixins";

/**
 * @section Configuration
 */

$contol-file-area--color: $mv-color__gray--300;
$contol-file-area--background-color: $mv-color__gray--50;
$contol-file-area--border-radius: $mv-border-radius-base;
$contol-file-area__message_hover--background-color: darken($contol-file-area--background-color, 3%);
$contol-file-area__dot-area--border-color: $mv-color__light;

/**
 * @section Style
 */
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100px;
    color: $contol-file-area--color;
    background-color: $contol-file-area--background-color;
    border-radius: $contol-file-area--border-radius;
}

:host /deep/ {
  mv-control-file-item {
    border-bottom: 1px solid #ccc;
  }
  mv-control-file-item:last-child{
    border-bottom: none;
  }
}

.mv-control-file-area__content {
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    border-radius: $contol-file-area--border-radius;
    border-width: 2px;
    border-style: dashed;
    border-color: $contol-file-area__dot-area--border-color;
}

.mv-control-file-area__message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $contol-file-area__message_hover--background-color;
  }
}

.is-element {
  pointer-events: none;
}
