<mv-page-title>Contato</mv-page-title>

<mv-toolbar *ngIf="send">
  <mv-row class="is-align-center">
    <mv-col>
      <p>Sua mensagem foi enviada.</p>
    </mv-col>
  </mv-row>
</mv-toolbar>

<mv-grid>
  <mv-container>
    <mv-row>
      <mv-col>
        <ul>
          <li>
            <mv-icon name="phone"></mv-icon> <span>69 9 9999-9999</span></li>
          <li>
            <mv-icon name="envelope"></mv-icon> <span>faleconosco@congressobrasileirofiep-ro.com.br</span></li>
        </ul>
      </mv-col>
      <mv-col>
        <mv-form [formGroup]="formContato">

          <form class="form-contato" #form [formGroup]="formContato" (ngSubmit)="enviar()">

            <mv-control icon="user" formControlName="nome">
              <mv-control-input mvControl type="text">
                <mv-control-label>Nome</mv-control-label>
              </mv-control-input>
              <mv-control-error>
                <mv-control-message>Obrigatório</mv-control-message>
              </mv-control-error>
            </mv-control>

            <mv-control icon="envelope" formControlName="email">
              <mv-control-input mvControl type="email">
                <mv-control-label>E-mail</mv-control-label>
              </mv-control-input>
              <mv-control-error>
                <mv-control-message>Obrigatório</mv-control-message>
                <mv-control-message>E-mail inválido</mv-control-message>
              </mv-control-error>
            </mv-control>

            <mv-control icon="file-text-o" formControlName="mensagem">
              <mv-control-editor mvControl>
                <mv-control-label>Mensagem</mv-control-label>
              </mv-control-editor>
            </mv-control>

            <div class="is-align-center">
              <button class="mv-btn" [disabled]="formContato.invalid">Enviar</button>
            </div>
          </form>
        </mv-form>
      </mv-col>
    </mv-row>
  </mv-container>
</mv-grid>
