<mv-modal #modal title="Confirmar remoção?" class="mv-modal--relative mv-modal--small">
  <mv-modal-body>
    <ng-content></ng-content>
  </mv-modal-body>
  <mv-modal-footer class="align-end">
    <button mv-button (click)="close()">Cancelar</button>
    <button mv-button (click)="onDelete()" class="mv-theme--danger">Remover</button>
  </mv-modal-footer>
</mv-modal>
