<mv-grid>
  <mv-row>
    <mv-col>
      <h1>Relatório Simpósio</h1>

      <mv-card *ngFor="let simposio of collection" class="remove-title">

        <mv-card-body>
          <h4>{{simposio.titulo}}</h4>
          <p><strong>Criado em:</strong> <span>{{simposio.createdat | moment}}</span></p>
          <p><strong>Eixo:</strong> <span>{{simposio.eixo?.nome}}</span></p>

          <strong>Proponentes</strong>
          <mv-row>
            <mv-col class="is-mobile-12 is-desktop-6">
              <ul *ngIf="simposio.proponente">
                <li> <strong>Nome: </strong> <span>{{simposio.proponente?.nome}}</span></li>
                <li> <strong>E-mail: </strong> <span>{{simposio.proponente?.email}}</span></li>
                <li> <strong>Titulação: </strong> <span>{{simposio.proponente?.titulacao | mvSimposioTitulacao}}</span></li>
                <li> <strong>Vinculo: </strong> <span>{{simposio.proponente?.vinculo | mvSimposioVinculo}}</span></li>
                <li> <strong>Instituição: </strong>
                  <span>{{simposio.proponente?.instituicao_sigla}} - {{simposio.proponente?.instituicao_nome}}</span>
                </li>
              </ul>
            </mv-col>
            <mv-col class="is-mobile-12 is-desktop-6">
              <ul *ngIf="simposio.proponente2">
                <li> <strong>Nome: </strong> <span>{{simposio.proponente2?.nome}}</span></li>
                <li> <strong>E-mail: </strong> <span>{{simposio.proponente2?.email}}</span></li>
                <li> <strong>Titulação: </strong> <span>{{simposio.proponente2?.titulacao | mvSimposioTitulacao}}</span></li>
                <li> <strong>Vinculo: </strong> <span>{{simposio.proponente2?.vinculo | mvSimposioVinculo}}</span></li>
                <li> <strong>Instituição: </strong>
                  <span>{{simposio.proponente2?.instituicao_sigla}} - {{simposio.proponente2?.instituicao_nome}}</span>
                </li>
              </ul>
            </mv-col>
          </mv-row>

          <p><strong>Resumo</strong></p>
          <p>{{simposio.resumo}}</p>
          <p><strong>Referência</strong></p>
          <pre>{{simposio.referencia}}</pre>

        </mv-card-body>
      </mv-card>
    </mv-col>
  </mv-row>
</mv-grid>
