/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../variables";
@import "../../../shared/mixins";

/**
 * @section Configuration
 */

$control-container--border-radius: 0;
$control-container--background-color: transparent;
$control-container--border-color: $mv-color__gray--100;
$control-container_focus--border-color: $mv-color__primary--A100;

/**
 * @section Style
 */
:host {
    display: block;
    position: relative;
}
