 <div class="mv-header-filter__background" [ngStyle]="getFilterStyle()"></div>
 <div class="mv-header-filter__content">
  <ng-content select=".is-title"></ng-content>
  <ng-content select=".is-subtitle"></ng-content>
  <ng-content></ng-content>
  <div class="mv-header-filter__button-area">
    <ng-content select=".is-btn"></ng-content>
  </div>
</div>
