/**
 * Header
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../../variables";
@import "../../shared/mixins";

/**
 * @section Style
 */

 :host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: $mv-color__light;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mv-header-filter__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $mv-color__dark;
  opacity: 0.8;
}

.mv-header-filter__content {
  display: flex;
  flex: 1;
  position: relative;
  padding: $mv-layout__gutter;
  max-width: 25rem;
  color: $mv-color__gray--50;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

:host /deep/ {
  .is-title,
  .is-subtitle {
    margin: 0;
    padding: 0;
    color: $mv-color__secondary;
  }
  .is-btn {
    color: $mv-color__dark;
    background-color: $mv-color__secondary;

    &.mv-btn,
    &:focus {
      background-color: $mv-color__secondary;
    }
    &:hover{
      color: darken($mv-color__secondary, 50%);
      cursor: pointer;
    }
  }
}

.mv-header-filter__button-area {
  display: flex;
  justify-content: center;
}

/**
 * Modificadores
 */

:host(.is-fixed) {
  background-attachment: fixed;
}

@include tablet {
   :host {
    height: 24rem;
  }
}

@include desktop {
   :host {
    height: 30rem;
  }
}
