/**
 * Toolbar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

/**
 * @section Style
 */

:host {
  padding: $mv-layout__outer-margin 0;
  width: 100%;
  min-height: $mv-size__height + $mv-layout__outer-margin;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $mv-color__gray--50;
  color: inherit;
}

:host /deep/ {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: inherit;
    line-height: 2rem;
  }
  h1,
  h2 {
    font-size: $font-size-h3;
  }
  mv-row {
    margin: 0;
    width: 100%;
    max-height: $mv-size__height;
    white-space: nowrap;

    mv-col:first-child {
      padding-left: 0;
    }
    mv-col:last-child {
      padding-right: 0;
    }
  }
}

.mv-toolbar {
  &__container {
    padding: 0 $mv-layout__outer-margin;
    display: flex;
    flex: 1;
  }
}

:host(.is-small) {
  .mv-toolbar__container {
    height: $mv-size__height--small;
  }
}

:host(.is-medium) {
  .mv-toolbar__container {
    height: $mv-size__height--medium;
  }
}

:host(.is-tall) {
  .mv-toolbar__container {
    height: $mv-size__height--tall;
  }
}
