/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../variables";
@import "../../../shared/mixins";

/**
 * @section Configuration
 */


/**
 * @section Style
 */
:host {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;

    input {
        display: inline-block;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        display: none;
    }

    & /deep/ .is-active {
        color: $mv-color__secondary !important;
        background-color: $mv-color__primary !important;
    }
}
