/**
 *  Menu
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../../variables";

/**
 * @section Style
 */
:host {
  display: inline-block;
  position: relative;
  color: $mv-font--color;
}

:host(.mv-menu--center) .mv-menu-dropdown__container,
:host([center])  .mv-menu-dropdown__container {
  left: 0;
  right: 0;
  transform-origin: 50% 0;
}
:host(.mv-menu--flip)  .mv-menu-dropdown__container,
:host([flip])  .mv-menu-dropdown__container {
  right: 0;
  left: auto;
  transform-origin: 100% 0;
}
:host(.mv-menu--reverse)  .mv-menu-dropdown__container,
:host([reverse])  .mv-menu-dropdown__container {
  // top: -2rem;
  // left: 0;
  // top: auto;
  bottom: 2rem;
  transform-origin: 0 100%;
}
:host(.mv-menu--flip.mv-menu--reverse)  .mv-menu-dropdown__container,
:host([flip][reverse])  .mv-menu-dropdown__container {
  transform-origin: 100% 100%;
}
:host(.mv-menu--center.mv-menu--reverse)  .mv-menu-dropdown__container,
:host([center][reverse])  .mv-menu-dropdown__container {
  transform-origin: 50% 100%;
}

.mv-menu-dropdown {

  &__container {
    position: absolute;
    min-width: 12.5rem;
    // width: 12.5rem;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    background-color: $mv-color__light;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform;
    transition: visibility 100ms 100ms linear,
    transform 300ms $mv-animation-curve-default,
    opacity 200ms $mv-animation-curve-default;
    z-index: -1;

    &.js-mv-menu--visible {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      z-index: 999;
    }
  }
}
