<button mv-btn class="mv-btn--icon" type="button" (click)="open()" (blur)="onBlur()">
  <ng-content select="mv-menu-button"></ng-content>
</button>
<div class="mv-menu-dropdown__container"
     [ngClass]="classMenuContainer()"
     (mouseleave)="onMouseLeaves()">
  <ng-content select="mv-menu-list"></ng-content>
</div>
