/**
 *  Menu
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Menu
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

/**
 * @section Style
 */
mv-menu {}

mv-menu-header {
  margin: 0 .5rem .5rem .5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: $mv-color__gray--500;
  //border-bottom: 1px solid $mv-color__primary;
}

mv-menu-list {
  margin: 0;
  padding: ($mv-layout__gutter/2) 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

mv-menu-divisor {
  cursor: pointer;
  height: 0;
  border-bottom: 1px solid $mv-color__gray--50;
  box-sizing: border-box;
}
