/**
 * Header
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";
@import "../shared/mixins";

/**
 * @section Style
 */

:host {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  color: $mv-color__secondary;
}

:host /deep/ mv-toolbar {
  background-color: transparent;
}

:host(.is-float) {
  /deep/ mv-toolbar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: auto;
    z-index: 100;

    mv-col:first-child {
      padding-left: $mv-layout__outer-margin;
    }
    mv-col:last-child {
      padding-right: $mv-layout__outer-margin;
    }
  }
  /deep/ mv-header-filter {
    padding-top: $mv-size__height + $mv-layout__outer-margin;
  }
}
