<mv-toolbar>
  <mv-row class="has-flex">
    <mv-col>
      <mv-avatar src="/assets/img/mvinicius_logo.png"></mv-avatar>
    </mv-col>
    <mv-col class="is-flex">
      <h4>mvOrion</h4>
    </mv-col>
    <mv-col>
      <button class="mv-btn is-icon">
        <mv-icon name="chevron-down"></mv-icon>
      </button>
    </mv-col>
  </mv-row>
</mv-toolbar>
<div class="logo">

</div>

<ul class="menu">
  <li class="item">
    <a class="link" routerLink="/congresso"><mv-icon name="home"></mv-icon> <span>Início</span> </a>
  </li>
  <li class="item" *ngFor="let item of menu">
    <a class="link" [routerLink]="item.route" routerLinkActive="is-active">{{item.label}}</a>
    <ul class="submenu" *ngIf="item.children">
       <li class="item" *ngFor="let subitem of item.children">
        <a class="link" [routerLink]="subitem.route" routerLinkActive="is-active">{{subitem.label}}</a>
      </li>
    </ul>
  </li>
  <li class="item">
    <a class="link btn-voltar" routerLink="/">Sair</a>
  </li>
</ul>
