@import '../../variables';

:host {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0,0,0,.3);
}
.logo {
  text-align: center;
}

.logo img {
  max-height: 2rem;
}

.menu,
.submenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

}
.menu {

}
.submenu .link{
  padding: 0.5rem 0.5rem 0.5rem 1rem
}
.item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f5f5f5;
}

.item:last{
  border-bottom: none;
}

.link {
  display: block;
  padding: 0.5rem;
}

.has-submenu {}

.is-active {
  color: #fff;
  background-color: $color__dark;
}

.btn-voltar {
  font-weight: bold;
}
