<mv-grid>
  <mv-container>
    <mv-row class="has-flex is-align-stretch">
      <mv-col class="is-flex is-align-end is-align-last">
        <mv-fiep-menu></mv-fiep-menu>
      </mv-col>
      <mv-col>
        <img class="fiep-header__logo" src="/assets/img/logo-fiep-w.png" alt="">
      </mv-col>
      <mv-col>
        <img class="fiep-header__logo-fiep" src="/assets/img/logos/logo-fiep.png" alt="">
      </mv-col>
    </mv-row>
  </mv-container>
</mv-grid>
