@import "../../mixins";

:host {
  position: fixed;
  display: block;
  z-index: 6000;
  width: 100%;

  // padding: 3rem 0;
  background-color: rgba(255,255,255, 0);
  transition:
    padding ease 300ms,
    background-color ease 500ms,
    position linear 200ms 300ms;
}

.fiep-header__logo {
  display: block;
  max-height: 100px;
  border: 5px solid #fff;
  border-radius: 3px;
}
.fiep-header__logo-fiep {
  padding-top: 1rem;
}

:host(.is-scroller-on) {
  & /deep/ .fiep-header__logo {
    max-height: 80px;
  }
  & /deep/ .fiep-header__logo-fiep {
    padding-top: .5rem;
  }
}

:host(.is-scroller-off) {
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255, 0.95);

  & /deep/ .item {
    color: #000000;
  }

}
