@import "../variables";
@import "../mixins";
:host mv-header {
  @include tablet {
    height: 24rem;
  }
  @include desktop {
    height: 40rem;
  }
}

:host mv-header /deep/ {
  .is-title {
    margin-bottom: 1em;
    color: $color__secondary;
  }
  .is-subtitle {
    margin-bottom: 1em;
    font-size: 1.2em;
    color: $color__secondary;
  }
  .is-btn {
    background-color: $color--yellow;
  }
}
