<form [formGroup]="formRegistro" (ngSubmit)="register()">

  <h4>Dados Pessoais</h4>
  <!-- <mv-control-container>
    <label for="name">Nome Completo</label>
    <input id="name" type="name" formControlName="name">
  </mv-control-container>

  <mv-control-container>
    <label for="email">E-mail</label>
    <input id="email" type="email" formControlName="email">
  </mv-control-container>

  <h4>Dados do Sistema</h4>
  <mv-control-container>
    <label for="credential">CPF</label>
    <input id="credential" type="credential" formControlName="credential">
  </mv-control-container>

  <mv-control-container>
    <label for="password">Senha</label>
    <input id="password" type="password" formControlName="password">
  </mv-control-container>
 -->
  <button class="mv-btn" [disabled]="formRegistro.invalid">Acessar Congresso</button>

  <div class="alert" *ngIf="hasMessage()">
    {{message}}
  </div>
</form>
