/**
 * Footer
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../variables";

/**
 * @section Style
 */

:host {
  display: block;
  background-color: $mv-color__primary;
  padding: 1rem 0;
  color: $mv-color__secondary;
  background-color: $mv-color__primary;
}

:host /deep/ {
  mv-footer-about {
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  {
    color: inherit;
  }
  p {
    margin: 0;
    line-height: 1.5rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  nav {
    margin-bottom: 2rem;
    color: $mv-color__gray--50;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .mv-footer__logo {
    max-height: 7.5rem;
  }
  .mv-footer__title {
    margin: 0 0 1rem 0;
    font-weight: 300;
    color: $mv-color__secondary;
  }
  .mv-footer__end {
    text-align: center;
  }
}
