<mv-grid>
  <mv-container>
    <mv-row>
      <mv-col class="is-align-center">
        <h1>Em breve</h1>
        <p>Página sendo atualizada</p>
      </mv-col>
    </mv-row>
  </mv-container>
</mv-grid>
