<!--
<mv-grid>
  <mv-row>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
      <mv-card class="remove-title">
        <h2>Simpósio</h2>
        <mv-card-action>
          <button class="mv-btn is-raised" routerLink="/admin/simposio"> <mv-icon name="list"></mv-icon> <span>Listar</span></button>
          <button class="mv-btn">Fazer Inscrição</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-4">
      <mv-card class="remove-title">
        <h2>Comunicação</h2>
        <mv-card-action class="is-align-center">
          <button class="mv-btn" disabled>Em breve</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-4">
      <mv-card class="remove-title">
        <h2>Mini-Curso</h2>
        <mv-card-action class="is-align-center">
          <button class="mv-btn" disabled>Em breve</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-4">
      <mv-card class="remove-title">
        <h2>Ouvinte</h2>
        <mv-card-action class="is-align-center">
          <button class="mv-btn" routerLink="/ouvinte">Fazer Inscrição</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
  </mv-row>
</mv-grid>
-->
<mv-grid>
  <mv-row>
    <mv-col class="is-align-center">
      <h1>Seja bem Vindo</h1>
    </mv-col>
  </mv-row>
</mv-grid>
