/**
 * Cores
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Color
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */


/**
 * @section Mixis
 */

@mixin color($color, $value) {
    .is-color-#{$color} {
        color: $value;
    }
}

@mixin bg($color, $value, $font-color: #fff) {
    .is-bg-#{$color} {
        color: $font-color;
        background-color: $value;
    }
}

@mixin pallete($color, $level, $value) {
    .is-color-#{$color}#{"-"}#{$level} {
        color: $value;
    }
    .is-bg-#{$color}#{"-"}#{$level} {
        background-color: $value;
    }
}

@mixin theme($name, $color, $backgroundColor) {
    .is-theme-#{$name} {
        color: $color !important;
        background-color: $backgroundColor !important;
    }
}


/**
 * @section Color
 */
@include color('default', $mv-color__default);
@include color('primary', $mv-color__primary);
@include color('secondary', $mv-color__secondary);
@include color('danger', $mv-color__danger);
@include color('warning', $mv-color__warning);
@include color('success', $mv-color__success);
@include color('light', $mv-color__light);
@include color('dark', $mv-color__dark);
@include color('accent', $mv-color__accent);

/**
 * @section Background
 */
@include bg('default', $mv-color__default);
@include bg('primary', $mv-color__primary);
@include bg('secondary', $mv-color__secondary);
@include bg('danger', $mv-color__danger);
@include bg('warning', $mv-color__warning);
@include bg('success', $mv-color__success);
@include bg('light', $mv-color__light, $mv-color__gray--900);
@include bg('dark', $mv-color__dark);
@include bg('accent', $mv-color--accent, $mv-color__gray--900);

/**
 * @section Pallete
 */
@include pallete('primary', '50', $mv-color__primary--50);
@include pallete('primary', '100', $mv-color__primary--100);
@include pallete('primary', '200', $mv-color__primary--200);
@include pallete('primary', '300', $mv-color__primary--300);
@include pallete('primary', '400', $mv-color__primary--400);
@include pallete('primary', '500', $mv-color__primary--500);
@include pallete('primary', '600', $mv-color__primary--600);
@include pallete('primary', '700', $mv-color__primary--700);
@include pallete('primary', '800', $mv-color__primary--800);
@include pallete('primary', '900', $mv-color__primary--900);
@include pallete('primary', 'A100', $mv-color__primary--A100);
@include pallete('primary', 'A200', $mv-color__primary--A200);
@include pallete('primary', 'A400', $mv-color__primary--A400);
@include pallete('primary', 'A700', $mv-color__primary--A700);
@include pallete('secondary', '50', $mv-color__secondary--50);
@include pallete('secondary', '100', $mv-color__secondary--100);
@include pallete('secondary', '200', $mv-color__secondary--200);
@include pallete('secondary', '300', $mv-color__secondary--300);
@include pallete('secondary', '400', $mv-color__secondary--400);
@include pallete('secondary', '500', $mv-color__secondary--500);
@include pallete('secondary', '600', $mv-color__secondary--600);
@include pallete('secondary', '700', $mv-color__secondary--700);
@include pallete('secondary', '800', $mv-color__secondary--800);
@include pallete('secondary', '900', $mv-color__secondary--900);
@include pallete('secondary', 'A100', $mv-color__secondary--A100);
@include pallete('secondary', 'A200', $mv-color__secondary--A200);
@include pallete('secondary', 'A400', $mv-color__secondary--A400);
@include pallete('secondary', 'A700', $mv-color__secondary--A700);
@include pallete('danger', '50', $mv-color__danger--50);
@include pallete('danger', '100', $mv-color__danger--100);
@include pallete('danger', '200', $mv-color__danger--200);
@include pallete('danger', '300', $mv-color__danger--300);
@include pallete('danger', '400', $mv-color__danger--400);
@include pallete('danger', '500', $mv-color__danger--500);
@include pallete('danger', '600', $mv-color__danger--600);
@include pallete('danger', '700', $mv-color__danger--700);
@include pallete('danger', '800', $mv-color__danger--800);
@include pallete('danger', '900', $mv-color__danger--900);
@include pallete('danger', 'A100', $mv-color__danger--A100);
@include pallete('danger', 'A200', $mv-color__danger--A200);
@include pallete('danger', 'A400', $mv-color__danger--A400);
@include pallete('danger', 'A700', $mv-color__danger--A700);
@include pallete('warning', '50', $mv-color__warning--50);
@include pallete('warning', '100', $mv-color__warning--100);
@include pallete('warning', '200', $mv-color__warning--200);
@include pallete('warning', '300', $mv-color__warning--300);
@include pallete('warning', '400', $mv-color__warning--400);
@include pallete('warning', '500', $mv-color__warning--500);
@include pallete('warning', '600', $mv-color__warning--600);
@include pallete('warning', '700', $mv-color__warning--700);
@include pallete('warning', '800', $mv-color__warning--800);
@include pallete('warning', '900', $mv-color__warning--900);
@include pallete('warning', 'A100', $mv-color__warning--A100);
@include pallete('warning', 'A200', $mv-color__warning--A200);
@include pallete('warning', 'A400', $mv-color__warning--A400);
@include pallete('warning', 'A700', $mv-color__warning--A700);
@include pallete('success', '50', $mv-color__success--50);
@include pallete('success', '100', $mv-color__success--100);
@include pallete('success', '200', $mv-color__success--200);
@include pallete('success', '300', $mv-color__success--300);
@include pallete('success', '400', $mv-color__success--400);
@include pallete('success', '500', $mv-color__success--500);
@include pallete('success', '600', $mv-color__success--600);
@include pallete('success', '700', $mv-color__success--700);
@include pallete('success', '800', $mv-color__success--800);
@include pallete('success', '900', $mv-color__success--900);
@include pallete('success', 'A100', $mv-color__success--A100);
@include pallete('success', 'A200', $mv-color__success--A200);
@include pallete('success', 'A400', $mv-color__success--A400);
@include pallete('success', 'A700', $mv-color__success--A700);

/**
 * @section Theme
 */
@include theme('default', $mv-color__gray--800, $mv-color__gray--50);
//mono
@include theme('light', $mv-color__dark, $mv-color__light);
@include theme('dark', $mv-color__light, $mv-color__dark);
@include theme('accent', $mv-color__gray--900, $mv-color__accent);
//colors
@include theme('primary', $mv-color__primary--A100, $mv-color__primary);
@include theme('secondary', $mv-color__secondary--A100, $mv-color__secondary);
@include theme('danger', $mv-color__danger--A100, $mv-color__danger);
@include theme('warning', $mv-color__warning--A100, $mv-color__warning);
@include theme('success',  $mv-color__success--A100, $mv-color__success);
//light
@include theme('primary-light', $mv-color__primary, $mv-color__primary--A100);
@include theme('secondary-light', $mv-color__secondary, $mv-color__secondary--A100);
@include theme('danger-light', $mv-color__danger, $mv-color__danger--A100);
@include theme('warning-light', $mv-color__warning, $mv-color__warning--A100);
@include theme('success-light', $mv-color__success, $mv-color__success--A100);
@include theme('accent-light', $mv-color__accent, $mv-color__light);
