/**
 * Typography
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Typography
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
 @import "variables";

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    300 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$blockquote-font-size: 4rem;
$blockquote-small-color:      $mv-color-_light;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25);
//** Blockquote border color
$blockquote-border-color:     $mv-color-_light;
//** Page header border color
$page-header-border-color:    $mv-color-_light;

/*
 * @section Mixin
 */

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Seleção
 */
 ::selection {
   background-color: $mv-color__primary;
   color: $mv-color__primary--A100;
 }

/*
 * @section Headings
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-right: 0;
  margin-left: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $mv-color__primary;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $mv-color__gray--500;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 50%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 55%;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


/*
 * @section Body text
 */
p {
  margin: 0 0 ($line-height-computed / 2);
}

.lead {
  margin-bottom: $line-height-computed;
  font-size: floor(($font-size-base * 1.15));
  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $mv-device__tablet) {
    font-size: ($font-size-base * 1.5);
  }
}


/*
 * @section Emphasis & misc
 */
// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

// Undo browser default styling
cite {
  font-style: normal;
}

mark,
.mark {
  background-color: $mv-color__warning;
  padding: .2em;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  color: $mv-color__gray--300;
}

/*
 * @section Lists
 */
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

.no-list {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .no-list;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}
dt,
dd {
  line-height: $line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

.dl-horizontal {
  dd {

    @include clearfix(); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $mv-device__tablet) {
    dt {
      float: left;
      width: ($mv-size__height - 20);
      clear: left;
      text-align: right;
      @include text-overflow();
    }
    dd {
      margin-left: $mv-size__height;
    }
  }
}

/*
 * @section Misc
 */
// Abbreviations and acronyms
abbr[title],
  // Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px solid $mv-color-_gray--500;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $mv-color-_gray--500;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $blockquote-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid $blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Quotes
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}

/*
 * @section Code (inline and block)
 */
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  /*color: $color-code;*/
  /*background-color: $color-state-code;*/
  border-radius: $mv-border-radius-base;
}

kbd {
  padding: .2rem .5rem;
  font-size: 90%;
  /*color: $color-kbd;*/
  /*background-color: $color-state-kbd;*/
  border-radius: $mv-border-radius-base;
  /*box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);*/
}
//
//// Blocks of code
pre {
  display: block;
  padding: (($line-height-computed - 1) / 2);
  margin: 0 0 ($line-height-computed / 2);
  line-height: $line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  /*color: $color-light-alt;*/
  /*background-color: $color-shadow;*/
  /*border: 1px solid $color-bright;*/
  border-radius: $mv-border-radius-base;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

pre.scrollable {
  max-height: 100%;
  overflow-y: scroll;
}


a {
  color: $mv-color__secondary;
}

//progress
// https://css-tricks.com/html5-progress-element/
