/**
 * Visibilidade
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Color
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Mixins
 */

@mixin hidden {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}


/*
 * @section Style
 */

.is-hidden {
  @include hidden();
}


/*
 * @section Devices
 */

@include mobile() {
  .is-mobile-hidden {
    @include hidden();
  }
}

@include tablet-only {
  .is-tablet-hidden {
    @include hidden();
  }
}

@include desktop-only {
  .is-desktop-hidden {
    @include hidden();
  }
}

@include widescreen-only {
  .is-widescreen-hidden {
    @include hidden();
  }
}

@include fullhd {
  .is-fullhd-hidden {
    @include hidden();
  }
}
