/**
 * Loadbar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Loadbar
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

/**
 * @section Animation
 */

 @keyframes progress {
  0% { left: 0%; right: 100% }
  100% { left: 100%; right: 0%; }
}

/**
 * @section Style
 */

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  background-color: $mv-color__gray--50;
  transition: all 300ms ease;
  overflow: hidden;
  z-index: 6000;

  opacity: 0;
  pointer-events: none;
  cursor: default;
}
:host(.is-active) {
  height: 5px;
  opacity: 1;
  background-color: $mv-color__accent;
}
.mv-loadbar__progress {
  display: block;
  position: absolute;
  width: 20%;
  height: inherit;
  animation: progress 1s infinite;
  background-color: $mv-color__secondary--A400;
}

