@import "../../variables";
:host {
  mv-footer {
    padding: 5em 0;
    color: $color--default;
    background-color: #efefef;
  }
  a {
    color: $color--default;
  }
}

:host::before {
  content: "";
  display: block;
  clear: both;
  padding-top: 5em;
}
