<mv-footer class="is-expanded">
  <mv-row class="is-align-center">
    <mv-col>
      <h4>Congresso</h4>
      <nav>
        <ul>
          <li><a href="#">Palestrantes</a></li>
          <li><a href="#">Programação</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Atendimento On-Line</a></li>
        </ul>
      </nav>
    </mv-col>
    <mv-col>
      <h4>Cursos</h4>
      <nav>
        <ul>
          <li><a href="#">Cursos de Manhã</a></li>
          <li><a href="#">Cursos de Tarde</a></li>
          <li><a href="#">Cursos de Noite</a></li>
          <li><a href="#">Taxas</a></li>
          <li><a href="#">Locais</a></li>
        </ul>
      </nav>
    </mv-col>
    <mv-col>
      <h4>Trabalhos Científicos</h4>
      <nav>
        <ul>
          <li><a href="#">Trabalhos Aprovados</a></li>
          <li><a href="#">Sobre Eventos Científicos</a></li>
          <li><a href="#">Normas</a></li>
          <li><a href="#">Normas (Estrangeiros)</a></li>
        </ul>
      </nav>
    </mv-col>
    <mv-col>
      <h4>Inscrições</h4>
      <nav>
        <ul>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Trabalhos Científicos</a></li>
          <li><a href="#">Eventos Paralelos</a></li>
          <li><a href="#">Certificado</a></li>
        </ul>
      </nav>
    </mv-col>
  </mv-row>
  <mv-row class="is-align-middle">
    <mv-col class="no-flex is-mobile-12">
      <img src="/assets/img/logo-fiep.png" alt="">
    </mv-col>
    <mv-col class="is-mobile-12 is-mobile-align-center">
      <strong>XI Congresso Brasileiro de Educação Física-FIEP RO</strong>
      <p>Data: 26 A 28 DE OUTUBRO DE 2017 <br> Em Porto Velho-RO</p>
    </mv-col>
    <mv-col class="is-mobile-12 is-align-end">
      <a href="http://www.fiepbrasil.org/" target="_blank">
        <img src="/assets/img/logos/logo-fiep.png" alt="">
      </a>
      <a href="http://www.casafiep.com/" target="_blank">
        <img src="/assets/img/logos/logo-casa-fiep.png" alt="">
      </a>
      <a href="http://www.fiep.net/" target="_blank">
        <img src="/assets/img/logos/logo-mundial.png" alt="">
      </a>
      <a href="http://www.fiepbrasil.org/semfronteiras" target="_blank">
        <img src="/assets/img/logos/logo-sem-fronteiras.png" alt="">
      </a>
    </mv-col>
  </mv-row>
  <mv-footer-about>
    <p>@copyright Congresso Brasileiro de Educação Física-FIEP RO. Todos os direitos reservados</p>
  </mv-footer-about>
</mv-footer>
<mv-footer-dev class="is-expanded" logo="/assets/img/mvinicius_logo.png"></mv-footer-dev>
