<!--Barra de ferramentas-->
<mv-toolbar>
  <mv-row>
    <mv-col class="is-align-end">
      <button class="mv-btn" [routerLink]="['/','congresso','simposio','form',entity?.id]">
        <mv-icon name="pencil"></mv-icon>
        <span>Editar</span>
      </button>
    </mv-col>
  </mv-row>
</mv-toolbar>

<!-- Detalhes  -->
<mv-grid>

  <article>
    <h1>{{entity?.titulo}}</h1>
    <div class="is-align-center">
      <strong>Status: </strong>
      <button class="mv-btn is-active" *ngIf="(entity?.is_active!==null); else btnStatusTpl"
        [class.is-theme-success]="entity?.is_active"
        [class.is-theme-danger]="!entity?.is_active">
        Simpósio {{ (entity?.is_active) ? 'aprovado' : 'resusado'}}
      </button>
      <ng-template #btnStatusTpl>
        <button class="mv-btn is-active">
        Simpósio em análise
      </button>
      </ng-template>

    </div>
    <h2>Proponentes</h2>
    <ul *ngIf="entity?.proponente">
      <li> <strong>Nome: </strong> <span>{{entity.proponente?.nome}}</span></li>
      <li> <strong>E-mail: </strong> <span>{{entity.proponente?.email}}</span></li>
      <li> <strong>Titulação: </strong> <span>{{entity.proponente?.titulacao | mvSimposioTitulacao}}</span></li>
      <li> <strong>Vinculo: </strong> <span>{{entity.proponente?.vinculo | mvSimposioVinculo}}</span></li>
      <li> <strong>Instituição: </strong>
        <span>{{entity.proponente?.instituicao_sigla}} - {{entity.proponente?.instituicao_nome}}</span>
      </li>
    </ul>
    <ul *ngIf="entity?.proponente2">
      <li> <strong>Nome: </strong> <span>{{entity.proponente2?.nome}}</span></li>
      <li> <strong>E-mail: </strong> <span>{{entity.proponente2?.email}}</span></li>
      <li> <strong>Titulação: </strong> <span>{{entity.proponente2?.titulacao | mvSimposioTitulacao}}</span></li>
      <li> <strong>Vinculo: </strong> <span>{{entity.proponente2?.vinculo | mvSimposioVinculo}}</span></li>
      <li> <strong>Instituição: </strong>
        <span>{{entity.proponente2?.instituicao_sigla}} - {{entity.proponente2?.instituicao_nome}}</span>
      </li>
    </ul>
    <p><strong>Criado em:</strong> <span>{{entity?.createdat | moment}}</span></p>
    <p><strong>Eixo:</strong> <span>{{entity?.eixo?.nome}}</span></p>

    <p><strong>Resumo</strong></p>
    <p>{{entity?.resumo}}</p>
    <p><strong>Referência</strong></p>
    <pre>{{entity?.referencia}}</pre>
  </article>

</mv-grid>
