:host /deep/ p {
  text-align: justify;
}
:host /deep/ pre {
  padding-left: 0;
  padding-right: 0;
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
  font-family: inherit;
}
