<mv-modal #modal title="Pesquisar" class="mv-modal--small">

  <mv-modal-body>
    <ng-content></ng-content>
  </mv-modal-body>

  <mv-modal-footer class="align-end">
    <button mv-button (click)="modal.close($event)">Cancelar</button>
    <button mv-button (click)="reset($event)" *ngIf="isResetVisible()">Limpar</button>
    <button mv-button (click)="onSubmit($event)" [disabled]="isFormInvalid()">Pesquisar</button>
    <!--<button mv-button (click)="close($event)" *ngIf="submitted">Filtrar</button>-->
  </mv-modal-footer>

</mv-modal>
