<!--Barra de ferramentas-->
<mv-toolbar>
  <mv-row>
    <mv-col>
      <p *ngIf="rxForm.invalid">
        <mv-icon name="question-circle"></mv-icon>
        Formulário precisa de revisão
      </p>
    </mv-col>
    <mv-col class="is-align-end">
      <button class="mv-btn" type="submit" (click)="onSubmit()" [disabled]="rxForm.invalid" [hidden]="isSubmited">
          <mv-icon name="check"></mv-icon>
          <span>Salvar</span>
        </button>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-form [formGroup]="rxForm">
<form class="form-contato" #form [formGroup]="rxForm" *ngIf="!isSubmited; else tplSubmitedMessage">

  <!--Controles-->
  <mv-grid>
    <mv-row>
      <mv-col class="is-mobile-12 is-desktop-6">

        <h3>Trabalho</h3>
        <mv-card class="remove-title">
          <mv-card-body>

              <mv-control icon="user" formControlName="eixo">
                <mv-control-select mvControl>
                  <mv-control-label>Eixo Temático</mv-control-label>
                  <option *ngFor="let eixo of eixos | async" [value]="eixo.id"> {{eixo?.id}}-{{eixo?.nome}}</option>
                </mv-control-select>
                <mv-control-error>
                  <mv-control-message>Obrigatório</mv-control-message>
                </mv-control-error>
              </mv-control>

              <mv-control formControlName="titulo">
                <mv-control-input mvControl>
                  <mv-control-label>Título</mv-control-label>
                </mv-control-input>
                <mv-control-error>
                  <mv-control-message>Obrigatório</mv-control-message>
                </mv-control-error>
              </mv-control>

            <!-- <mv-control-container>
              <label for="titulo">Título</label>
              <input id="titulo" type="text" formControlName="titulo">
              <mv-control-errors [hidden]="rxForm.controls.titulo.valid">
                <mv-control-error>*Obrigatório</mv-control-error>
              </mv-control-errors>
            </mv-control-container> -->

            <mv-control icon="envelope" formControlName="mensagem">
              <mv-control-editor mvControl>
                <mv-control-label>Resumo</mv-control-label>
              </mv-control-editor>
              <mv-control-error>
                <mv-control-message>Obrigatório</mv-control-message>
                <mv-control-error>*Máximo 500 palavras</mv-control-error>
                <mv-control-error>*Mínimo 300 palavras</mv-control-error>
              </mv-control-error>
            </mv-control>


            <!-- <mv-control-container>
              <label for="resumo">Resumo</label>
              <textarea #resumo id="resumo" rows="10" formControlName="resumo" mvCounter counter-max="500" counter-min="300"></textarea>
              <mv-control-setup>
                <span><strong>{{resumo.value | counter:'word'}}</strong> Palavras</span>
              </mv-control-setup>
              <mv-control-errors [hidden]="rxForm.controls.resumo.valid">
                <mv-control-error>*Obrigatório</mv-control-error>
                <mv-control-error>*Máximo 500 palavras</mv-control-error>
                <mv-control-error>*Mínimo 300 palavras</mv-control-error>
              </mv-control-errors>
            </mv-control-container> -->

            <mv-control icon="envelope" formControlName="referencia">
              <mv-control-editor mvControl>
                <mv-control-label>referencia</mv-control-label>
              </mv-control-editor>
              <mv-control-error>
                <mv-control-message>Obrigatório</mv-control-message>
                <mv-control-error>*Máximo 1500 Caracteres</mv-control-error>
              </mv-control-error>
            </mv-control>

            <!-- <mv-control-container>
              <label for="referencia">Referências</label>
              <textarea #referencia id="referencia" rows="10" formControlName="referencia" maxlength="1500"></textarea>
              <mv-control-setup>
                <span><strong>{{referencia.value | counter}}</strong> Caracteres</span>
              </mv-control-setup>
              <mv-control-errors [hidden]="rxForm.controls.referencia.valid">
                <mv-control-error>*Obrigatório</mv-control-error>
                <mv-control-error>*Máximo 1500 Caracteres</mv-control-error>
              </mv-control-errors>
            </mv-control-container> -->


          </mv-card-body>
        </mv-card>

      </mv-col>
      <mv-col class="is-mobile-12 is-desktop-6">

        <h3>Proponentes</h3>

        <mv-row formArrayName="proponentes">
          <mv-col *ngFor="let proponente of rxForm.controls.proponentes.controls; let i=index" class="is-mobile-12">

            <mv-card class="remove-title">
              <mv-card-menu>
                <button class="mv-btn" *ngIf="rxForm.controls.proponentes.controls.length > 1" (click)="removeProponenteControls(i)">
                  <mv-icon name="trash"></mv-icon>
                  <span>Remover</span>
                </button>
              </mv-card-menu>

              <h4>Proponente {{i+1}}</h4>
              <mv-card-body [formGroupName]="i">

                <mv-control formControlName="nome">
                  <mv-control-input mvControl>
                    <mv-control-label>Nome</mv-control-label>
                  </mv-control-input>
                  <mv-control-error [hidden]="rxForm.controls.proponentes.controls[i].controls.nome.valid">
                    <mv-control-message>Obrigatório</mv-control-message>
                  </mv-control-error>
                </mv-control>

                <!-- <mv-control-container>
                  <label for="nome">Nome</label>
                  <input id="nome" type="text" formControlName="nome">
                  <mv-control-errors [hidden]="rxForm.controls.proponentes.controls[i].controls.nome.valid">
                    <mv-control-error>*Obrigatório</mv-control-error>
                  </mv-control-errors>
                </mv-control-container> -->

                <mv-control formControlName="nome">
                  <mv-control-input mvControl>
                    <mv-control-label>Nome</mv-control-label>
                  </mv-control-input>
                  <mv-control-error [hidden]="rxForm.controls.proponentes.controls[i].controls.nome.valid">
                    <mv-control-message>Obrigatório</mv-control-message>
                  </mv-control-error>
                </mv-control>

                <!-- <mv-control-container>
                  <label for="email">E-mail</label>
                  <input id="email" type="email" formControlName="email">
                  <mv-control-errors [hidden]="rxForm.controls.proponentes.controls[i].controls.email.valid">
                    <mv-control-error>*Obrigatório</mv-control-error>
                  </mv-control-errors>
                </mv-control-container>

                <mv-control-container>
                  <label for="titulacao">Titulação máxima já obtida</label>
                  <select id="titulacao" formControlName="titulacao">
              <option *ngFor="let titulacao of proponente_titulos" [value]="titulacao.id">{{titulacao?.name}}</option>
            </select>
                  <mv-control-errors [hidden]="rxForm.controls.proponentes.controls[i].controls.titulacao.valid">
                    <mv-control-error>*Obrigatório</mv-control-error>
                  </mv-control-errors>
                </mv-control-container>

                <mv-control-container>
                  <label for="vinculo">Tipo de Vínculo institucional</label>
                  <select id="vinculo" formControlName="vinculo">
              <option *ngFor="let vinculo of proponente_vinculos" [value]="vinculo.id">{{vinculo?.name}}</option>
            </select>
                  <mv-control-errors [hidden]="rxForm.controls.proponentes.controls[i].controls.vinculo.valid">
                    <mv-control-error>*Obrigatório</mv-control-error>
                  </mv-control-errors>
                </mv-control-container>

                <h4> Instituição</h4>
                <mv-row>
                  <mv-col class="is-mobile-12 is-tablet-3">
                    <mv-control-container>
                      <label for="instituicao_sigla">SIGLA</label>
                      <input id="instituicao_sigla" type="text" formControlName="instituicao_sigla" placeholder="Ex.: UNIR">
                      <mv-control-errors [hidden]="rxForm.controls.proponentes.controls[i].controls.instituicao_sigla.valid">
                        <mv-control-error>*Obrigatório</mv-control-error>
                      </mv-control-errors>
                    </mv-control-container>
                  </mv-col>
                  <mv-col class="is-mobile-12 is-tablet-9">
                    <mv-control-container>
                      <label for="instituicao_nome">Nome</label>
                      <input id="instituicao_nome" type="text" formControlName="instituicao_nome" placeholder="Ex.: Universidade Federal de Rondônia">
                      <mv-control-errors [hidden]="rxForm.controls.proponentes.controls[i].controls.instituicao_nome.valid">
                        <mv-control-error>*Obrigatório</mv-control-error>
                      </mv-control-errors>
                    </mv-control-container>
                  </mv-col>
                </mv-row> -->
              </mv-card-body>
            </mv-card>
          </mv-col>
          <mv-col class="is-mobile-12 is-align-center" (click)="addProponenteControls()">
            <button class="mv-btn" *ngIf="rxForm.controls.proponentes.length < 2">
          Adicionar outro proponente
        </button>
          </mv-col>
        </mv-row>
      </mv-col>
    </mv-row>
  </mv-grid>
</form>
</mv-form>
<ng-template #tplSubmitedMessage>
  <mv-card class="remove-title is-align-center">
    <h3><i class="fa fa-check fa-5x"></i></h3>
    <h3>{{message}}</h3>
  </mv-card>
</ng-template>
