<mv-grid class="mv-tab-group__control">
  <mv-container>
    <mv-row class="is-align-center">
      <mv-col class="mv-tab-group__tab" *ngFor="let tab of tabs">
        <button class="mv-btn is-tab" (click)="selectTab(tab)" [class.is-active]="tab.active">
          <mv-icon *ngIf="tab?.icon!==undefined" [name]="tab?.icon"></mv-icon>
          <span>{{tab?.label}}</span>
        </button>
      </mv-col>
    </mv-row>
  </mv-container>
</mv-grid>

<ng-content></ng-content>
