/**
 * Tab
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../../variables";
@import "../../shared/mixins";

/**
 * @section Style
 */

:host {
  display: block;
  position: relative;
}
.mv-tab-group__control {
  padding: 0.5rem;
  border-bottom: 0.2rem solid $mv-color__gray--50;
}

.mv-tab-group__tab {
  margin-bottom: -(0.5rem + 0.2rem);
}
  @include mobile() {

:host(.has-responsive-icons) {
      .mv-tab-group__tab .mv-btn>mv-icon~span {

      display: none;
    }
  }
}
