<mv-toolbar>
  <mv-row>
    <mv-col>
      <h1>Simpósio</h1>
    </mv-col>
    <mv-col class="no-flex">
      <button class="mv-btn is-icon-mobile" routerLink="/congresso/simposio/report" routerLinkActive="is-active">
        <mv-icon name="file-text"></mv-icon>
        <span>Relatório</span>
      </button>
      <button class="mv-btn is-icon-mobile" routerLink="/congresso/simposio/list" routerLinkActive="is-active">
        <mv-icon name="list"></mv-icon>
        <span>Listar</span>
      </button>
    </mv-col>
  </mv-row>
</mv-toolbar>
<router-outlet></router-outlet>
