/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../variables";
@import "../../shared/mixins";

/**
 * @section Configuration
 */

$control--padding: 0.5rem;
$control--border-bottom-color: $mv-color__danger--A400;
$control-container--border-radius: 0;
$control-container--background-color: transparent;
$control-container--border-color: $mv-color__gray--100;
$control-container_focus--border-color: $mv-color__primary--A100;
$control-value--color: $mv-color__gray--300;

/**
 * @section Style
 */

:host {
    display: flex;
    flex-direction: column;
    padding-top: $control--padding;
    padding-bottom: $control--padding;
    padding-left: 0;
    padding-right: 0;
}

.mv-control__icon {
    padding: 0;
}

.mv-control__icon.has-icon {
    padding: 0 $mv-layout__column-gutter;
    width: 2rem;
}

:host /deep/ {
    input + span {
        padding: 0 0.25rem;
    }
    input:not([type="radio"]):not([type="checkbox"]) {
        display: block;
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        border-radius: $control-container--border-radius;
        background-color: $control-container--background-color;
        border: none;
        border-bottom: 2px solid $control-container--border-color;
    }
    input:focus {
        border-bottom-color: $control-container_focus--border-color;
    }
    mv-control-row {
        display: flex;
        height: 2rem;
        align-items: center;
    }
    mv-control-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 $mv-layout__column-gutter;
        label {
            line-height: 1.2rem;
        }
    }
    mv-control-value {
        display: flex;
        flex-direction: column;
        height: 2rem;
        line-height: 2rem;
        color: $control-value--color;
    }
}


/**
 * @section Validation
 */

:host(.ng-dirty.ng-invalid),
:host(.ng-touched.ng-invalid) {
    & /deep/ input {
        border-bottom-color: $control--border-bottom-color;
    }
}

:host(.ng-untouched) /deep/ mv-control-error {
    display: none;
}

:host(.ng-touched) /deep/ mv-control-error {
    display: flex;
}