<ng-content select="mv-list-item-primary"></ng-content>
<mv-col class="mv-list-item__content">
  <ng-content></ng-content>
</mv-col>
<ng-content select="mv-list-item-action"></ng-content>
<ng-content select="mv-list-item-secondary"></ng-content>
