router-outlet {
  display: none;
}

:host {
  font-family: 'Roboto', sans-serif;

  .header-toolbar.is-scroller-on {

  }
  .header-toolbar.is-scroller-off {
    position: fixed;
    z-index: 5000;
  }
}
