<router-outlet></router-outlet>

<mv-model #userModel>
  <mv-model-toolbar>
    <h4>Usuários</h4>
    <button class="mv-btn is-icon-mobile" (onClick)="userModel.goToList()">
      <mv-icon name="list"></mv-icon>
      <span>Listar</span>
    </button>
    <button class="mv-btn is-icon-mobile">
      <mv-icon name="list"></mv-icon>
      <span>Relatório</span>
    </button>
  </mv-model-toolbar>
  <mv-model-dashboard>

    <mv-grid>
      <mv-row>
        <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
          <mv-card>
            <mv-card-body>
              <h2>Simpósio</h2>
              <ul>
                <li>Propostos: <span>-</span></li>
                <li>Inscritos: <span>-</span></li>
              </ul>
            </mv-card-body>
            <mv-card-action class="is-align-end">
              <button class="mv-btn" routerLink="/congresso/simposio">Gerenciar</button>
            </mv-card-action>
          </mv-card>
        </mv-col>
        <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
          <mv-card>
            <mv-card-body>
              <h2>Comunicação</h2>
              <ul>
                <li>Submissões: <span>-</span></li>
                <li>Inscritos: <span>-</span></li>
              </ul>
            </mv-card-body>
            <mv-card-action class="is-align-end">
              <button class="mv-btn" disabled>Gerenciar</button>
            </mv-card-action>
          </mv-card>
        </mv-col>
        <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
          <mv-card>
            <mv-card-body>
              <h2>Mini-Curso</h2>
              <ul>
                <li>Inscritos: <span>-</span></li>
              </ul>
            </mv-card-body>
            <mv-card-action class="is-align-end">
              <button class="mv-btn" disabled>Gerenciar</button>
            </mv-card-action>
          </mv-card>
        </mv-col>
        <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
          <mv-card>
            <mv-card-body>
              <h2>Ouvinte</h2>
              <ul>
                <li>Inscritos: <span>-</span></li>
              </ul>
            </mv-card-body>
            <mv-card-action class="is-align-end">
              <button class="mv-btn" disabled>Gerenciar</button>
            </mv-card-action>
          </mv-card>
        </mv-col>
      </mv-row>
      <mv-row>
        <mv-col>
          <mv-card>
            <mv-card-body>
              <h2>Estatísticas</h2>

                <mv-row>
                  <mv-col>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, nesciunt, vel sunt ratione ipsa debitis, itaque repellat quia dignissimos consectetur molestiae sequi corporis odio magni unde tenetur placeat sed! Odit.</p>
                  </mv-col>
                  <mv-col>
                    <ngx-charts-pie-chart
                      [view]="[400, 300]"
                      [results]="results"
                      [legend]="true"
                      [explodeSlices]="false"
                      [labels]="true"
                      [doughnut]="true"
                      [scheme]=" { domain: ['#5AA454', '#A10A28', '#C7B42C', '#AAAAAA'] }"
                      [gradient]="gradient"
                      (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                  </mv-col>

                </mv-row>


            </mv-card-body>
            <mv-card-action class="is-align-center">
              <button class="mv-btn" disabled>Ver mais</button>
            </mv-card-action>
          </mv-card>
        </mv-col>
      </mv-row>
    </mv-grid>


  </mv-model-dashboard>
  <mv-model-list>
    list
  </mv-model-list>
  <mv-model-form>
    form
  </mv-model-form>
</mv-model>
