/**
 * Variables
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Variables
 */


/**
 * @subsection Color
 * generators:
 * http://mcg.mbitson.com/#/ : default
 * http://knizia.biz/mcg/#/ : dark correction
 */

$color__default: #8b7220;
$color__secondary: #b0273b;
$color__dark: #202511;
