@import "variables";
@import "mixins";

body {
  display: flex;
  flex: 1;
  height: 100%;
  font-family: $font-family-base;
}

a {
  color: $mv-color__gray--300;
  &:hover {
    color: $color__default;
  }
}

html,
mv-root {
  display: flex;
  flex: 1;
  height: 100%;
}

router-outlet,
mv-ui {
  display: block;
  height: 0;
}

mv-congresso-admin {
  display: block;
  flex-basis: 100%;
}

.congresso-page-shell {
  display: flex;
  flex: 1;
  height: 100%;
}

.congresso-page-menu {
  display: flex;
  z-index: 1000;
  transition: transform 300ms ease;
  min-width: 250px;
  background-color: none;
}
.congresso-page-menu-col {
  display: none !important;
}
.congresso-page-menu-open {
  display: none !important;
}

.congresso-page-menu-close {
  display: none;
  height: 100% !important;
  width: 0 !important;
  padding: 0 !important;
  min-width: 0 !important;
  align-content: flex-start;
  visibility: hidden;
  z-index: -1;
}

.congresso-page-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.congresso-page-main-wrapper {
  position: relative;
  min-height: 300px;
  // max-width: 48rem;
  margin: 0 auto;
  flex-basis: 100%;
  // background-color: #fff;
  // box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


// .congresso-page-main-wrapper router-outlet + *{
//   display: block;
// }
.congresso-page-header {
  display: block;
  background-color: $color__secondary;
}

.congresso-page-content {
  display: block;
  flex: 1;
  padding: 0;
  background-color: #f5f5f5;
}

.congresso-page-footer {
  display: block;
}

@include mobile() {
  .congresso-page-main-wrapper {
    margin: 0 0.5rem;
  }
  .congresso-page-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, .3);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .congresso-page-menu.is-open {
    transform: translateX(0);
  }
  .congresso-page-menu-open {
    display: block !important;
  }
  .congresso-page-menu-open {
    display: inline-block !important;
  }
  .congresso-page-menu-close {
    padding: 0 0.5rem;
    min-width: 6rem !important;
    width: 20%;
    display: flex;
    visibility: visible;
    z-index: 1000;
  }
}

mv-page-title mv-toolbar {
  // text-align: center;
  padding: 0;
  background-color: $color__default !important;
  box-shadow: 2px 0 4px rgba(0, 0, 0, .3);
  a {
    color: #fff !important;
  }
  span {
    font-size: 1.2em !important;
  }
}


@media print {
  body,
  .congresso-page-shell {
    display: block;
  }
  .congresso-page-main-wrapper{
    max-width: inherit;
  }
  .congresso-page-menu {
    display: none;
  }
}
