<section class="congresso-page-shell">
  <section class="congresso-page-menu" [class.is-open]="open">
    <mv-congresso-admin-menu></mv-congresso-admin-menu>
    <button class="mv-btn congresso-page-menu-close" (click)="toggleMenu()">
      <mv-icon name="close"></mv-icon>
    </button>
  </section>
  <section class="congresso-page-main">
    <header class="congresso-page-header">
      <mv-toolbar class="is-theme-default">
        <mv-row>
          <mv-col class="remove-flex congresso-page-menu-col">
            <button class="mv-btn is-icon congresso-page-menu-open" (click)="toggleMenu()">
              <mv-icon name="bars"></mv-icon>
            </button>
          </mv-col>
          <mv-col>
            <h1>Congresso</h1>
          </mv-col>
        </mv-row>
      </mv-toolbar>
      <!-- <mv-grid> -->

        <!-- <h3>II Congresso Métodos Fronteiriços: imaginário, natureza e memória</h3>
        <h4>Encontro 25 anos do Centro de Estudos Interdisciplinares sobre o Imaginário Social</h4> -->
      <!-- </mv-grid> -->
    </header>
    <section class="congresso-page-content">
      <router-outlet></router-outlet>
      <!-- <div #pageMainWrapper class="congresso-page-main-wrapper">

      </div> -->
    </section>
    <footer class="congresso-page-footer">
      <!-- rodape -->
    </footer>
  </section>
</section>
