<mv-toolbar>
  <mv-row class="align-middle">
    <mv-col class="mv-data-list__total">
      <mv-icon name="list"></mv-icon>
      <!--<strong>{{collection.length}}</strong>-->
    </mv-col>
    <mv-col class="mv-data-list__pagination align-center">
      <ng-content select="mv-data-pagination"></ng-content>
    </mv-col>
    <mv-col class="mv-data-list__action align-end">

      <!--&lt;!&ndash;Volta a listar&ndash;&gt;-->
      <!--<button mv-button title="listar" class="mv-button&#45;&#45;icon">-->
      <!--<mv-icon name="list"></mv-icon>-->
      <!--</button>-->

      <!--Cancela deletar-->
      <button mv-button title="Cancelar Deletar" class="mv-button--icon mv-theme--danger"
              (click)="onDisableModeDelete()" *ngIf="modeDelete">
        <mv-icon name="trash"></mv-icon>
      </button>

      <button mv-button title="Cancelar Pesquisa" class="mv-button--icon mv-theme--danger"
              (click)="onDisableModeSearch()" *ngIf="modeSearch">
        <mv-icon name="search"></mv-icon>
      </button>

      <!--<button mv-button title="Pesquisar" class="mv-button--icon"
              (click)="onOpenModalSearch()">
        <mv-icon name="search"></mv-icon>
      </button>-->

      <mv-menu-dropdown class="mv-menu--flip">
        <mv-menu-button>
          <span>Ações</span>
          <mv-icon name="folder"></mv-icon>
        </mv-menu-button>
        <mv-menu-list>
          <mv-menu-item icon="search" (click)="onOpenModalSearch()">Pesquisar</mv-menu-item>
          <mv-menu-item icon="plus" (click)="onOpenModalForm()">Adicionar</mv-menu-item>
          <mv-menu-item icon="trash" (click)="onEnableModeDelete()" *ngIf="!modeDelete && !isCollectionEmpty()">Deletar</mv-menu-item>
          <ng-content select="mv-data-list-action"></ng-content>
        </mv-menu-list>
      </mv-menu-dropdown>
    </mv-col>
  </mv-row>
</mv-toolbar>

<!--Delete modal-->
<mv-data-list-modal-delete
  [entity]="entity"
  (onConfirmDelete)="onDelete($event)">
  <ng-content select="mv-data-list-delete"></ng-content>
</mv-data-list-modal-delete>

<!--Search modal-->
<mv-data-list-modal-search
  [form]="formSearch"
  (onSearch)="onSearch($event)"
  (onClean)="onClean($event)">
  <ng-content select="mv-data-list-search"></ng-content>
</mv-data-list-modal-search>

<mv-data-list-modal-form
  [modeEdit]="modeEdit">
  <ng-content select="mv-data-list-form"></ng-content>
</mv-data-list-modal-form>


<mv-list class="mv-data-list__collection mv-shadow--default">
  <ng-content select="mv-data-list-collection"></ng-content>
</mv-list>
<mv-toolbar class="mv-data-list__alert-collection-empty" *ngIf="isCollectionEmpty()">
  <mv-row>
    <mv-col class="align-center">
      <p>Nenhum registro</p>
      <button mv-button (click)="onOpenModalForm($event)">
        <mv-icon name="plus"></mv-icon> Adicionar
      </button>
    </mv-col>
  </mv-row>
</mv-toolbar>
