/**
 * Footer
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Components
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../../variables";

/**
 * @section Style
 */

:host {
  display: block;
  padding: 1rem 0;
  color: $mv-color__secondary;
  background-color: $mv-color__primary;
  line-height: 2rem;

  & /deep/ p {
    margin: 0;
    line-height: 2rem;
  }
  & /deep/ a {
    color: inherit;
    text-decoration: none;
  }
}

.mv-footer-dev__logo {
  max-height: 2rem;
  vertical-align: middle;
  display: inline-block;
}
