<mv-grid>
  <mv-row class="is-align-middle">
    <mv-col class="is-align-end">
      &copy;
    </mv-col>
    <mv-col class="is-align-center no-flex">
      <mv-avatar class="mv-footer-dev__logo" [src]="logo"></mv-avatar>
    </mv-col>
    <mv-col class="is-align-start">
      <span>MVinicius</span>
    </mv-col>
  </mv-row>
</mv-grid>
