/**
 * Border
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Paper
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */

@import "../variables";

/**
 * @section Mixins
 */

@mixin paper-sheet-padding ($size) {
  .mv-page-padding-#{$size} .mv-page{
    padding: #{$size};
  }
}


/**
 * @section Default
 */

mv-paper {
  display: none;
}

@page {
  margin: 0
}


/** For screen preview **/

@media screen {
  .mv-paper.is-preview {
    background: #e0e0e0
  }
  .mv-page.is-preview {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm;
  }
}


/** Fix for Chrome issue #273306 **/

@media print {
  .mv-paper {
    margin: 0
  }
  .mv-page {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
  }
  /** Paper sizes **/
  .mv-paper.A3 .mv-page {
    width: 297mm;
    height: 419mm
  }
  .mv-paper.A3.landscape .mv-page {
    width: 420mm;
    height: 296mm
  }
  .mv-paper.A4 .mv-page {
    width: 210mm;
    height: 296mm
  }
  .mv-paper.A4.landscape .mv-page {
    width: 297mm;
    height: 209mm
  }
  .mv-paper.A5 .mv-page {
    width: 148mm;
    height: 209mm
  }
  .mv-paper.A5.landscape .mv-page {
    width: 210mm;
    height: 147mm
  }
  /** Padding area **/
  @include paper-sheet-padding (10mm);
  @include paper-sheet-padding (15mm);
  @include paper-sheet-padding (20mm);
  @include paper-sheet-padding (25mm);

  .mv-paper.A3.landscape {
    width: 420mm
  }
  .mv-paper.A3,
  .mv-paper.A4.landscape {
    width: 297mm
  }
  .mv-paper.A4,
  .mv-paper.A5.landscape {
    width: 210mm
  }
  .mv-paper.A5 {
    width: 148mm
  }
}
