<mv-toolbar>
  <mv-row>
    <mv-col>
      <h1>Inscrição</h1>
    </mv-col>
  </mv-row>
</mv-toolbar>
<mv-grid>
  <mv-row>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
      <mv-card class="remove-title">
        <mv-card-body>
          <h2>Simpósio</h2>
          <ul>
            <li>Propostos: <span>-</span></li>
            <li>Inscritos: <span>-</span></li>
          </ul>
        </mv-card-body>
        <mv-card-action class="is-align-end">
          <button class="mv-btn" routerLink="/congresso/simposio">Gerenciar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
      <mv-card class="remove-title">
        <mv-card-body>
          <h2>Comunicação</h2>
          <ul>
            <li>Submissões: <span>-</span></li>
            <li>Inscritos: <span>-</span></li>
          </ul>
        </mv-card-body>
        <mv-card-action class="is-align-end">
          <button class="mv-btn" disabled>Gerenciar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
      <mv-card class="remove-title">
        <mv-card-body>
          <h2>Mini-Curso</h2>
          <ul>
            <li>Inscritos: <span>-</span></li>
          </ul>
        </mv-card-body>
        <mv-card-action class="is-align-end">
          <button class="mv-btn" disabled>Gerenciar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
    <mv-col class="is-mobile-12 is-tablet-12 is-desktop-12">
      <mv-card class="remove-title">
        <mv-card-body>
          <h2>Ouvinte</h2>
          <ul>
            <li>Inscritos: <span>-</span></li>
          </ul>
        </mv-card-body>
        <mv-card-action class="is-align-end">
          <button class="mv-btn" disabled>Gerenciar</button>
        </mv-card-action>
      </mv-card>
    </mv-col>
  </mv-row>
</mv-grid>
