<ng-content select="mv-model-toolbar"></ng-content>

<!--Load  -->
<mv-loadbar [active]="loading"></mv-loadbar>
<mv-tab-group class="has-responsive-icons">
  <mv-tab label="Resumo" icon="dashboard">
    <ng-content select="mv-model-dashboard"></ng-content>
  </mv-tab>
  <mv-tab label="Listar" icon="list">
    <ng-content select="mv-model-list"></ng-content>
  </mv-tab>
  <mv-tab label="Adicionar" icon="plus">
    <ng-content select="mv-model-form"></ng-content>
  </mv-tab>
</mv-tab-group>
