/**
 * Button
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Button
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Import
 */

@import "../variables";
@import "../shared/mixins";

/**
 * @section Configuration
 */

$bt--height: 2rem;
$bt--border-radius: 1rem;
$bt--background-color: transparent;
$bt--box-shadow: none;
$bt_hover--color: $mv-color__primary--50;
$bt_hover--background-color: $mv-color__primary;
$bt_focus--color: $mv-color__primary--400;
$bt_focus--background-color: transparent;
$bt_active--color: $mv-color__primary--100;
$bt_active--background-color: $mv-color__primary--400;
$bt_disabled--color: $mv-color__gray--100;
$bt_disabled--background-color: $mv-color__gray--100;
$bt_default--color: $mv-color__primary;
$bt_default_focus--background-color: $mv-color__primary;
$bt_raised--color: $mv-color__primary;
$bt_raised--box-shadow: 0 0 3px $mv-color__gray--100;
$bt_raised_focus--background-color: $mv-color__primary;
$bt_raised__disabled--color: $mv-color__primary;
$bt_raised__disabled--background-color: $mv-color__gray--100;
$bt_fab--height: 3rem;
$bt_fab--background-color: $mv-color__light;
$bt_fab--box-shadow: 0 0 3px $mv-color__gray--100;
$bt_fab_hover--color: $mv-color__light;
$bt_fab_hover--box-shadow: 0 0 6px $mv-color__gray--50;
$bt_fab_hover--background-color: $mv-color__primary;
$bt_tab--height: 3rem;
$bt_tab--background-color: $mv-color__light;
$bt_tab--box-shadow: 0 0 3px $mv-color__gray--100;
$bt_tab_hover--color: $mv-color__light;
$bt_tab_hover--box-shadow: 0 0 6px $mv-color__gray--50;
$bt_tab_hover--background-color: $mv-color__primary;
$bt_rounded--border-radius: $mv-border-radius-base;
$bt_squared--border-radius: 0;

/**
 * @section Mixins
 */

@mixin buttonIcon {
  font-size: 1em;
  min-width: $bt--height;
  padding: 0 0.5rem;

  /deep/ mv-icon {
    align-self: center;
    padding: 0;
    line-height: $bt--height;
  }

  /deep/ mv-icon ~ span {
    display: none;
  }
}

@mixin buttonIconResponsive($device) {
   :host(.is-icon-#{$device}) {
    @include buttonIcon;
    max-width: $bt--height;
  }
}


/**
 * @section Style
 */

:host {
  position: relative;
  height: $bt--height;
  margin: 0;
  min-width: $bt--height * 3;
  padding: 0 0.5em;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; // line-height: $bt--height;
  will-change: box-shadow;
  transition: box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  vertical-align: middle;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border: none; // border-radius: $mv-border-radius-base;
  border-radius: $bt--border-radius;
  background: $bt--background-color;
  color: inherit;
  box-shadow: $bt--box-shadow;
  &::-moz-focus-inner {
    border: 0;
  }
  &:hover {
    color: $bt_hover--color;
    background-color: $bt_hover--background-color;
  }
  &.is-active,
  &:focus:not(:active) {
    color: $bt_focus--color;
    background-color: $bt_focus--background-color;
    box-shadow: $bt_raised--box-shadow;
  }
  &:active {
    background-color: $bt_active--background-color;
  }
}

:host /deep/ mv-icon {
  line-height: inherit;
  color: inherit;
}

a.mv-btn {
  line-height: $bt--height;
}

// Disabled
:host([disabled]) {
  color: $bt_disabled--color; // background-color: transparent;
  // color: $bt_raised__disabled--color;
  // background-color: $bt_raised__disabled--background-color;
  background-color: transparent;
  box-shadow: none;
  cursor: default;
}

// Types
:host(.is-squared) {
  border-radius: $bt_squared--border-radius;
}

:host(.is-rounded) {
  border-radius: $bt_rounded--border-radius;
}

// :host(.is-raised) {
//   box-shadow: $bt_raised--box-shadow;
//   &[disabled] {
//     color: $bt_raised__disabled--color;
//     background-color: $bt_raised__disabled--background-color;
//     box-shadow: none;
//   }
// }
:host(.is-fab) {
  height: $bt_fab--height;
  min-width: $bt_fab--height;
  max-width: $bt_fab--height;
  line-height: $bt_fab--height;
  overflow: hidden;
  background-color: $bt_fab--background-color;
  border-radius: 50%;
  box-shadow: $bt_fab--box-shadow;
  &:hover {
    color: $bt_fab_hover--color;
    background-color: $bt_fab_hover--background-color;
    box-shadow: $bt_fab_hover--box-shadow;
  }
  &.is-fixed {
    position: fixed;
  }
  &.is-positioned {
    position: absolute;
  }
  &.is-on-top {
    top: $mv-layout__gutter;
    bottom: auto;
  }
  &.is-on-bottom {
    top: auto;
    bottom: $mv-layout__gutter;
  }
  &.is-on-left {
    left: $mv-layout__gutter;
    right: auto;
  }
  &.is-on-right {
    left: auto;
    right: $mv-layout__gutter;
  }
}

// $bt_tab--height: 3rem;
// $bt_tab--background-color: $mv-color__light;
// $bt_tab--box-shadow: 0 0 3px $mv-color__gray--100;
// $bt_tab_hover--color: $mv-color__light;
// $bt_tab_hover--box-shadow: 0 0 6px $mv-color__gray--50;
// $bt_tab_hover--background-color: $mv-color__primary;
$bt-tab--border-bottom: 0.2rem solid transparent;
$bt-tab_hover--color: $mv-color__primary;
$bt-tab_hover--border-bottom: 0.2rem solid $mv-color__primary;

:host(.is-tab) {
  display: block;
  width: 100%;
  min-width: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: $bt-tab--border-bottom;

  &:hover,
  &.is-active,
  &:focus:not(:active) {
    color: $bt-tab_hover--color;
    border-bottom: $bt-tab_hover--border-bottom;
    box-shadow: none;
  }
}

//Ícones
:host(.is-icon) {
  @include buttonIcon;
}

@include mobile {
  @include buttonIconResponsive("mobile");
}

@include tablet {
  @include buttonIconResponsive("tablet");
}

@include desktop {
  @include buttonIconResponsive("desktop");
}

@include widescreen {
  @include buttonIconResponsive("widescreen");
}

@include fullhd {
  @include buttonIconResponsive("fullhd");
}
