<mv-toolbar [hidden]="!modeEnabled" class="is-medium">
  <mv-row>
    <mv-col>
      <mv-form [formGroup]="form">
        <form [formGroup]="form">
          <mv-control formControlName="search">
            <mv-control-input mvControl type="text">
              <mv-control-label>Pesquisar</mv-control-label>
            </mv-control-input>
          </mv-control>
        </form>
      </mv-form>
    </mv-col>
  </mv-row>
</mv-toolbar>
