<mv-row class="is-align-center is-align-middle">
  <mv-col class="is-mobile-12 is-tablet-4 is-desktop-4">
    <mv-card class="auth-card remove-title">
      <h3><i class="fa fa-3x fa-lock"></i></h3>

      <!-- Tab -->
      <div class="tab">
        <div class="control is-align-center">
          <button class="mv-btn" (click)="tabActive=0"
            [class.is-active]="tabActive===0">
            Entrar
          </button>
          <button class="mv-btn" (click)="tabActive=1"
            [class.is-active]="tabActive===1">
            Cadastrar
          </button>
          <button class="mv-btn" routerLink="/inscricao">
            Voltar
          </button>
        </div>
        <div class="panel" [hidden]="tabActive!=0">
          <mv-login-form (onSave)="login($event)"></mv-login-form>
        </div>
        <div class="panel" [hidden]="tabActive!=1">
          <mv-register-form (onSave)="register($event)"></mv-register-form>
        </div>
      </div>
      <!-- /Tab -->
    </mv-card>
  </mv-col>
</mv-row>
