/**
 * Avatar
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

/**
 * @section Mixins
 */

/**
 * @section Style
 */
:host {
  display: inline-flex;
  height: $mv-size__height;
  width: $mv-size__height;
  border-radius: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

/**
 * @section Elements
 */
.mv-avatar__img {
  width: 100%;
}


/**
 * @section Modifiers
 */
:host(.is-circle) {
  border-radius: 50%;
}

:host(.is-small) {
  height: $mv-size__height--small;
  width: $mv-size__height--small;
}
:host(.is-medium) {
  height: $mv-size__height--medium;
  width: $mv-size__height--medium;
}
:host(.is-large) {
  height: $mv-size__height--tall;
  width: $mv-size__height--tall;
}
