.noscript-alert {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Roboto";
    background-color: #AE3311;
}

.noscript-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    border: 2px solid #A32F0E;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transform: translate3d(-50%, -50%, 0);
}

.noscript-message {
    /* padding: 10%; */
    margin: 10%;
}

.noscript-button {
  display: inline-block;
  min-width: 6em;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #B4E650;
  background-color: #333333;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
