/* You can add global styles to this file, and also import other style files */
html {
  background-color: #fff;
}

@keyframes loading-img {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


.loading__img {
    margin: 0 auto;
    max-width: 12.5rem;
    display: block;
    animation: loading-img 2s infinite;
}

.loading__text {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
}
