<mv-form [formGroup]="formLogin">
<form [formGroup]="formLogin" (ngSubmit)="login()">

  <mv-control formControlName="credential">
    <mv-control-input mvControl type="text">
      <mv-control-label>Nome</mv-control-label>
    </mv-control-input>
    <mv-control-error>
      <mv-control-message>Obrigatório</mv-control-message>
    </mv-control-error>
  </mv-control>

  <mv-control formControlName="password">
    <mv-control-input mvControl type="password">
      <mv-control-label>Senha</mv-control-label>
    </mv-control-input>
    <mv-control-error>
      <mv-control-message>Obrigatório</mv-control-message>
    </mv-control-error>
  </mv-control>


  <button class="mv-btn" [disabled]="formLogin.invalid">Acessar Congresso</button>

  <div class="alert" *ngIf="hasMessage()">
    {{message}}
  </div>
</form>
</mv-form>
