/**
 * Shell
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Configuration
 */
@import "../variables";

$mv-sidebar--width: 20%;

$mv-shell__menu--color: $mv-color__primary--100;
$mv-shell__menu--background-color: $mv-color__primary--700;

/**
 * @section Style
 */
:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: none;
}
.mv-shell__menu {
  display: flex;
  flex-direction: column;
  overflow-x: none;
  overflow-y: auto;
  color: $mv-shell__menu--color;
  background-color: $mv-shell__menu--background-color;

}
.mv-shell__tool {
  display: flex;
  flex-direction: column;
}
.mv-shell__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: none;
  overflow-y: auto;
  position: relative;
}
.mv-shell__toolbar {
  max-height: $mv-size__height;
}
.mv-aside__content{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.mv-shell--sidebar {
  width: $mv-sidebar--width;
  // transform: translate3d(-100%,0,0);
  background-color: $mv-color__gray--50;
}

@media screen and (max-width: $mv-device__tablet) {
  .mv-shell__menu {
    position: fixed;
    width: 100%;
    top:0;
    left:auto;
    right:0;
    bottom:0;
    z-index: 1000;
    transform: translate3d(-100%,0,0);
    transition: transform 0.3s ease;
  }
  .mv-shell__tool {
    position: fixed;
    width: 100%;
    top:0;
    left:auto;
    right:0;
    bottom:0;
    z-index: 1000;
    transform: translate3d(100%,0,0);
    transition: transform 0.3s ease;
  }
  .mv-shell__menu.is-opened,
  .mv-shell__tool.is-opened {
    transform: translate3d(0,0,0);
  }
}
