<mv-toolbar>
  <mv-row>
    <mv-col>
      <h5 class="mv-sidebar__title">
        <mv-icon name="menu"></mv-icon>
        <span>{{title}}</span>
      </h5>
    </mv-col>
  </mv-row>
</mv-toolbar>
<div class="mv-sidebar__content">
  <ng-content></ng-content>
</div>
