/**
 * Layout
 *
 * based https://raw.githubusercontent.com/kristoferjoseph/flexboxgrid/master/src/css/flexboxgrid.css
 *
 * @project mvComponents
 * @version 1.0
 * @package Layout
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 *
 * <mv-grid>
 *    <mv-row>
 *      <mv-col>1</mv-col>
 *      <mv-col>2</mv-col>
 *    </mv-row>
 * </mv-grid>
 * <mv-grid>
 *    <mv-container>
 *      <mv-row>
 *        <mv-col>1</mv-col>
 *        <mv-col>2</mv-col>
 *      </mv-row>
 *    </mv-container>
 * </mv-grid>
 *
 * @section Imports
 */

@import "../variables";
@import "../shared/mixins";

/**
 * @section Configuration
 */

$gutter-width: $mv-layout__gutter;
$outer-margin: $mv-layout__outer-margin;
$gutter-compensation: ($gutter-width * 0.5) * -1;
$half-gutter-width: ($gutter-width * 0.5);
$mobile-min: $mv-device__mobile;
$tablet-min: $mv-device__tablet;
$desktop-min: $mv-device__desktop;
$widescreen-min: $mv-device__widescreen;
$fullhd-min: $mv-device__fullhd;
$screen-mobile-min: $mobile-min;
$screen-sm-min: $tablet-min;
$screen-md-min: $desktop-min;
$screen-widescreen-min: $widescreen-min;
$container-tablet: $tablet-min+$gutter-width;
$container-desktop: $desktop-min+$gutter-width;
$container-widescreen: $widescreen-min+$gutter-width;
$container-fullhd: $fullhd-min+$gutter-width;

/**
 * @section Mixins
 */

@mixin setupContainer($width) {
  mv-container {
    max-width: $width - $gutter-width; //46rem
  }
}

@mixin setupRow {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

@mixin setupCol {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

@mixin setupColWidth($device:'') {
  $deviceEscape: '';
  @if($device!='') {
    $deviceEscape: $device+'-';
  }
  mv-col.is-#{$deviceEscape}#{1} {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  mv-col.is-#{$deviceEscape}#{2} {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  mv-col.is-#{$deviceEscape}#{3} {
    flex-basis: 25%;
    max-width: 25%;
  }
  mv-col.is-#{$deviceEscape}#{4} {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  mv-col.is-#{$deviceEscape}#{5} {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  mv-col.is-#{$deviceEscape}#{6} {
    flex-basis: 50%;
    max-width: 50%;
  }
  mv-col.is-#{$deviceEscape}#{7} {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  mv-col.is-#{$deviceEscape}#{8} {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  mv-col.is-#{$deviceEscape}#{9} {
    flex-basis: 75%;
    max-width: 75%;
  }
  mv-col.is-#{$deviceEscape}#{10} {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  mv-col.is-#{$deviceEscape}#{11} {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  mv-col.is-#{$deviceEscape}#{12} {
    flex-basis: 100%;
    max-width: 100%;
  }
  mv-col.is-#{$deviceEscape}offset-#{0} {
    margin-left: 0;
  }
  mv-col.is-#{$deviceEscape}offset-#{1} {
    margin-left: 8.33333333%;
  }
  mv-col.is-#{$deviceEscape}offset-#{2} {
    margin-left: 16.66666667%;
  }
  mv-col.is-#{$deviceEscape}offset-#{3} {
    margin-left: 25%;
  }
  mv-col.is-#{$deviceEscape}offset-#{4} {
    margin-left: 33.33333333%;
  }
  mv-col.is-#{$deviceEscape}offset-#{5} {
    margin-left: 41.66666667%;
  }
  mv-col.is-#{$deviceEscape}offset-#{6} {
    margin-left: 50%;
  }
  mv-col.is-#{$deviceEscape}offset-#{7} {
    margin-left: 58.33333333%;
  }
  mv-col.is-#{$deviceEscape}offset-#{8} {
    margin-left: 66.66666667%;
  }
  mv-col.is-#{$deviceEscape}offset-#{9} {
    margin-left: 75%;
  }
  mv-col.is-#{$deviceEscape}offset-#{10} {
    margin-left: 83.33333333%;
  }
  mv-col.is-#{$deviceEscape}offset-#{11} {
    margin-left: 91.66666667%;
  }
}

@mixin setupColModifier($device:'') {
  $deviceEscape: '';
  @if($device!='') {
    $deviceEscape: $device+'-';
  }
  .is-#{$deviceEscape}align-start {
    justify-content: flex-start;
    text-align: start;
  }
  .is-#{$deviceEscape}align-center {
    justify-content: center;
    text-align: center;
  }
  .is-#{$deviceEscape}align-end {
    justify-content: flex-end;
    text-align: end;
  }
  .is-#{$deviceEscape}align-top {
    align-items: flex-start;
  }
  .is-#{$deviceEscape}align-middle {
    align-items: center;
  }
  .is-#{$deviceEscape}align-stretch {
    align-items: stretch;
  }
  .is-#{$deviceEscape}align-bottom {
    align-items: flex-end;
  }
  .is-#{$deviceEscape}align-around {
    justify-content: space-around;
  }
  .is-#{$deviceEscape}align-between {
    justify-content: space-between;
  }
  .is-#{$deviceEscape}align-first {
    order: -1;
  }
  .is-#{$deviceEscape}align-last {
    order: 1;
  }
  .is-#{$deviceEscape}central {
    justify-content: center;
    align-items: center;
  }
}


/**
 * @section Grid
 */

mv-grid,
mv-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

mv-grid {
  padding-right: $outer-margin; //Fix container on small width
  padding-left: $outer-margin; //Fix container on small width
}


/**
 * @section Container
 */

mv-container {
  width: 100%;
  flex-basis: 100%;
}


/**
 * @section Row
 */

mv-row {
  @include setupRow();
}

mv-row.is-reverse {
  flex-direction: row-reverse;
}


/**
 * @section Columns
 */

mv-col {
  @include setupCol();
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

mv-col.is-reverse {
  flex-direction: column-reverse;
}

mv-col.no-flex {
  flex-grow: 0;
}

mv-row.has-flex mv-col:not(.is-flex) {
  flex-grow: 0;
}

mv-col.is-flex {
  display: flex;
}

// Default
@include setupColModifier();
@include setupColWidth();
// mobile
@include mobile() {
  @include setupColWidth('mobile');
  @include setupColModifier('mobile');
}

// Tablet
@include tablet-only() {
  @include setupContainer($container-tablet);
  @include setupColWidth('tablet');
  @include setupColModifier('tablet');
}

// Desktop
@include desktop-only() {
  @include setupContainer($container-desktop);
  @include setupColWidth('desktop');
  @include setupColModifier('desktop');
}

// Widescreen
@include widescreen-only() {
  @include setupContainer($container-widescreen);
  @include setupColWidth('widescreen');
  @include setupColModifier('widescreen');
}

// Fullhd
@include fullhd() {
  @include setupContainer($container-fullhd);
  @include setupColWidth('fullhd');
  @include setupColModifier('fullhd');
}


/**
 * @section Modifiers
 */

.is-fullscreen {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


/**
 * Layout types
 */

.is-fullscreen mv-container {
  max-width: inherit !important;
}

.is-full {
  margin-left: -($mv-layout__outer-margin);
  margin-right: -($mv-layout__outer-margin);
}

/**
 * Layout Utils
 */

.is-max {
  height: 100vh;
}
