/**
 * Variables
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Variables
 */


/**
 * @subsection Color
 * generators:
 * http://mcg.mbitson.com/#/ : default
 * http://knizia.biz/mcg/#/ : dark correction
 */

$color__default: #353535;
$color__primary: #3d3f96;
$color__secondary: #00a85a;
$color__dark: #353535;


$color--blue: #3d3f96;
$color--green: #00a85a;
$color--yellow: #ffcd2e;



