@import "./variables";
@import "./mixins";
:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

:host mv-header {
  @include tablet {
    height: 24rem;
  }
  @include desktop {
    height: 40rem;
  }
}

:host mv-header /deep/ {
  .is-title {
    margin-bottom: 1em;
    color: $color--green;
  }
  .is-subtitle {
    margin-bottom: 1em;
    font-size: 1.2em;
    color: $color--yellow;
  }
  .is-btn {
    background-color: $color--yellow;
  }
}

.is-box {
  padding: 50px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}

.is-logo {
  max-width: 485px;
  margin-bottom: 30px;
}

.is-lead {
  font-family: "Roboto";
  font-size: 25px;
  text-transform: uppercase;
}

.is-green {
  color: #00a85a;
}

.is-blue {
  color: #3d3f96;
}

.is-yellow {
  color: #ffcd2e;
}
