<mv-grid>
  <mv-scroller on="*">
    <mv-fiep-header mvScroller class="is-expanded"></mv-fiep-header>
  </mv-scroller>
  <mv-header class="is-float is-expanded">
    <mv-header-filter img="/local/slides/banner.min.jpg">
      <h1 class="is-title">XI Congresso Brasileiro de Educação Física</h1>
      <h2 class="is-subtitle">26 A 28 DE OUTUBRO DE 2017</h2>
      <h2 class="is-subtitle">PORTO VELHO - RO</h2>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
      <button class="mv-btn is-btn">Registrar</button>
    </mv-header-filter>
  </mv-header>

  <router-outlet></router-outlet>
  <mv-fiep-footer></mv-fiep-footer>
</mv-grid>
