<ul class="menu">
  <li class="item">
    <a class="link" routerLink="/">Início</a>
  </li>
  <li class="item has-submenu">
    <a class="link" routerLink="/sobre" routerLinkActive="is-active">Congresso</a>
    <!-- <ul class="submenu">
      <li class="item">
        <a class="link" routerLink="/programacao" routerLinkActive="is-active"> Programação </a>
      </li>
      <li class="item">
        <a class="link" routerLink="/programacao" routerLinkActive="is-active"> Locais </a>
      </li>
    </ul> -->
  </li>
  <li class="item">
    <a class="link" routerLink="/speakers" routerLinkActive="is-active">Palestrantes</a>
  </li>
  <li class="item">
    <a class="link" routerLink="/cursos" routerLinkActive="is-active">Cursos</a>
  </li>
  <li class="item">
    <a class="link" routerLink="/normas" routerLinkActive="is-active">Trabalhos Científicos</a>
  </li>
  <!-- <li class="item">
    <a class="link" routerLink="/orientacao" routerLinkActive="is-active">Orientações Gerais</a>
  </li> -->
  <li class="item has-submenu">
    <a class="link" routerLink="/contato" routerLinkActive="is-active">Contato </a>
    <!-- <ul class="submenu">
      <li class="item">
        <a class="link" routerLink="/programacao" routerLinkActive="is-active"> Hospedagem </a>
      </li>
    </ul> -->
  </li>
  <!-- <li class="item has-submenu">
    <a class="link" routerLink="/comissao" routerLinkActive="is-active">Comissão</a> -->
  <!--<ul class="submenu">
      <li class="item">
        <a class="link" routerLink="/" routerLinkActive="is-active"> Comitê Científico </a>
      </li>
      <li class="item">
        <a class="link" routerLink="/" routerLinkActive="is-active"> Comissão Organizadora </a>
      </li>
    </ul>-->
  <!-- </li> -->

  <!--<li class="item">
    <a class="link" routerLink="/simposio" routerLinkActive="is-active"> Simpósios </a>
  </li>-->
  <!-- <li class="item">
    <a class="link" routerLink="/apoio" routerLinkActive="is-active">Realização e Apoio </a>
  </li> -->
  <li class="item has-submenu is-registro">
    <a class="link" routerLink="/inscricao">Registro</a>
  </li>
</ul>
