@import "../../variables";
@import "../../mixins";

:host {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
}

.logo {
  text-align: center;
}

.log img {}

.menu,
.submenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.menu {
  height: 100%;
}

.submenu {
  display: none;
  position: absolute;
}
// .item:hover .submenu{
//   display: block;
// }
.submenu .link {
  padding: 0.5rem 0.5rem 0.5rem 1rem
}

.item {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  // border-bottom: 1px solid #f5f5f5;
  color: #fff;
  transition: background-color ease 300ms;


  &:hover {
    color: #fff;
    background-color: $color__default;
  }
}

.item:last {
  border-bottom: none;
}

.link {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  color: inherit;
  align-items: center;
}

.has-submenu {
  position: relative;
}

.is-active {
  color: #fff;
  background-color: $color__dark;
}

.is-registro {
  color: $color__default;
  background-color: $color--yellow;
}


