/**
 * Card
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Core
 * @subpackage Card
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2016 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../variables";
@import "../shared/mixins";

/**
 * @section Configuration
 */

$card-height: 12.5rem;
$card-z-index: 1;
$card-border-color: rgba($mv-color__dark, 0.1);
$card-padding: $mv-layout__gutter/2;

/**
 * @section Style
 */

:host {
  position: relative;
  margin-bottom: $card-padding;
  padding: 0 0 $card-padding/2 0;
  min-height: $card-height; // width: $card-width;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $mv-color__light;
  border-radius: $mv-border-radius-base;
  border: 1px solid $mv-color__gray--50;
  overflow: hidden;
  z-index: $card-z-index;
}

.card__header {
  padding-top: $card-padding/2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__header.has-img {
  height: 16rem;
  /deep/ mv-card-title {
    border-bottom: 1px solid transparent;
  }
  /deep/ .is-title,
  /deep/ .is-subtitle {
    padding-left: $card-padding;
    margin-left: -$card-padding;
  }
}

:host /deep/ mv-card-title {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  padding: 1rem $card-padding;
  justify-content: stretch;
  line-height: normal;
  color: $mv-color__light;
  border-bottom: 1px solid $card-border-color;
  .is-title {
    padding: 0 0.25rem;
    display: inline-table;
    margin: 0;
    font-size: 1.5em;
    line-height: normal;
    overflow: hidden;
    color: $mv-color__light;
  }
  .is-subtitle {
    padding: 0.25rem;
    display: inline-table;
    margin: 0;
    font-size: 1.2em;
    color: $mv-color__light;
  }
}

:host /deep/ mv-card-content {
  padding: 0 $card-padding;
}

:host /deep/ mv-card-body,
:host /deep/ mv-card-action,
:host /deep/ mv-card-text {
  display: flex;
}

:host /deep/ mv-card-body {
  flex-direction: column;
  padding: 0 $card-padding;
  flex: 1;
}

:host /deep/ mv-card-action {
  line-height: normal;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: $card-padding/2 $card-padding 0 $card-padding;
  align-self: flex-end;
  border-top: 1px solid $card-border-color;
}

:host /deep/ mv-card-text {
  flex-direction: column; // border-bottom: 1px solid $card-border-color;
  padding: 1rem $card-padding;
  color: $mv-color__primary;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}

:host /deep/ mv-card-menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

:host /deep/ img {
  display: block;
  margin: 0 auto;
}

@include desktop() {
   :host /deep/ mv-card-text {
    min-height: 5rem;
    overflow-y: auto;
  }
}


/**
 * Modificadores
 */

:host(.has-bg) {
  /deep/ .is-title,
  /deep/ .is-subtitle {
    background-color: rgba($mv-color__dark,.8);
  }
}
