<header class="card__header" [ngClass]="hasImg()" [ngStyle]="getBackgroundImageHeader()">
  <ng-content select="mv-card-title"></ng-content>
</header>
<ng-content select="mv-card-body"></ng-content>
<mv-card-content>
  <ng-content></ng-content>
</mv-card-content>
<ng-content select="mv-card-text"></ng-content>
<ng-content select="mv-card-action"></ng-content>
<ng-content select="mv-card-menu"></ng-content>
