<!--Action-->
<mv-toolbar>
  <mv-row>
    <mv-col>
      <span>Mostrando {{total}}</span>
    </mv-col>
    <mv-col class="is-align-end">
      <button class="mv-btn is-icon-mobile" [routerLink]="['..','form']">
        <mv-icon name="plus"></mv-icon>
        <span>Adicionar</span>
      </button>
      <button class="mv-btn is-icon-mobile" [class.is-theme-primary]="isSearchModeEnabled" (click)="toggleSearchMode()">
        <mv-icon name="search"></mv-icon>
        <span>Pesquisar</span>
      </button>
      <button class="mv-btn is-icon-mobile" [class.is-theme-danger]="isDeleteModeEnabled" (click)="toggleDeleteMode()">
        <mv-icon name="trash"></mv-icon>
        <span>Remover</span>
      </button>
    </mv-col>
  </mv-row>
</mv-toolbar>

<!--Search  -->
<mv-simposio-form-search [modeEnabled]="isSearchModeEnabled" (onSearch)="onSearch($event)"></mv-simposio-form-search>

<!--Load  -->
<mv-loadbar [active]="loading"></mv-loadbar>

<!--List-->
<mv-list>
  <mv-list-item *ngFor="let item of collection | async; let i=index">
    <!--item-->
    <mv-simposio-item [entity]="item"></mv-simposio-item>
    <mv-list-item-primary>
      <button class="mv-btn is-icon" [routerLink]="['..','detail', item?.id]">
        <mv-icon name="folder-o"></mv-icon>
      </button>
    </mv-list-item-primary>
    <mv-list-item-secondary>
      <button class="mv-btn is-icon" (click)="onAproved(item)" [hidden]="isDeleteModeEnabled">
        <mv-icon [name]="(item.is_active) ? 'toggle-on' : 'toggle-off'"></mv-icon>
      </button>
      <button class="mv-btn is-icon" [routerLink]="['..','form', item?.id]" [hidden]="isDeleteModeEnabled">
        <mv-icon name="pencil"></mv-icon>
      </button>
      <button class="mv-btn is-icon" [hidden]="!isDeleteModeEnabled" (click)="onDeleteItem(item)">
        <mv-icon name="trash"></mv-icon>
      </button>
    </mv-list-item-secondary>
  </mv-list-item>
</mv-list>

<!--Modal:Confirmation  -->
<mv-modal #modalDelete title="Deseja remover?" class="is-small">
  <mv-modal-body>
    <mv-simposio-item *ngIf="selected" [entity]="selected"></mv-simposio-item>
  </mv-modal-body>
  <mv-modal-footer class="is-align-end">
    <button class="mv-btn" (click)="modalDelete.close()">Cancelar</button>
    <button class="mv-btn" (click)="onDeleteConfirmation()">Remover</button>
  </mv-modal-footer>
</mv-modal>

<!--Modal:Alert  -->
<mv-modal #modalAlert class="is-small">
  <mv-modal-body class="is-align-center">
    <h1>
      <mv-icon name="check"></mv-icon>
    </h1>
  </mv-modal-body>
  <mv-modal-footer class="is-align-end">
    <button class="mv-btn" (click)="modalAlert.close()">Ok</button>
  </mv-modal-footer>
</mv-modal>
