<mv-toolbar>
  <mv-row class="has-flex">
    <mv-col class="is-flex">
      <ng-content select="h1,h2,h3,h4,h5,h6"></ng-content>
    </mv-col>
    <mv-col class="is-align-end">
      <ng-content></ng-content>
    </mv-col>
  </mv-row>
</mv-toolbar>
