/**
 * Control
 *
 *
 * @project mvComponents
 * @version 1.0
 * @package Form
 * @subpackage Control
 * @author Marcus Vinícius da Rocha Gouveia Cardoso
 * @copyright 2017 by author
 * @licence MIT
 *
 * @section Imports
 */

@import "../../../variables";
@import "../../../shared/mixins";

/**
 * @section Configuration
 */

$control-container--border-radius: 0;
$control-container--color: transparent;
$control-container--background-color: transparent;
$control-container--border-color: $mv-color__gray--100;
$control-container_focus--border-color: $mv-color__primary--A100;

/**
 * @section Style
 */
:host {
    display: block;
    position: relative;
}

:host /deep/ {
    .selectable {
        -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        -ms-user-select: auto !important;
        -o-user-select: auto !important;
        user-select: auto !important;
    }

    .ql-container {
        font-family: $font-family-base;
        color: $mv-color--default;
        max-height: 400px;
        overflow-y: auto;
    }

    .ql-editor {
        min-height: 200px;
        padding-bottom: 1rem;
        font-size: 1rem;
        font-family: inherit;
        word-wrap: break-word;
        word-break: break-all;
        border-bottom: 2px solid $control-container--border-color;
        border-radius: $control-container--border-radius;
    }

    .has-invalid-options {
      color: $mv-color--danger;
    }
    mv-control-editor-area {
        display: block;
    }
}
